html {
	text-align: center;
	font-family: helvetica;
}

.header, .ny, .footer {
	background-image: url('../images/the-flatiron-building.png');
	color: white;
}	

.header	{
	font-size: 18px;
}


h1	{
	font-size: 70px;
	font-weight: bold;
}

h2	{
	font-size: 32px;
}

h3	{
	font-size: 23px;
}

.process {
	font-size: 14px;
}

.footer	{
	font-size: 11px;
	background-color: dimgray;
	text-align: left;
}